
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: rgb(209, 35, 35);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 12%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(234, 248, 36);
  font-size: 30px;
}
.icon-bar1 a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(234, 248, 36);
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: rgb(147, 151, 147);
}
</style>
<div id="hi">
  <h1 style="font-family: comic sans ms;font: size 200;text-align:center;color: red;">CAKE CUBE</h1>
</div>
  

<div class="icon-bar">
  <a  routerLink='/'><i class="fa fa-home"></i></a> 
  <a routerLink='/login'><i class="fa fa-user"></i></a> 
  <a routerLink='/menu'><i class="fa fa-list-alt"></i></a> 
  <a routerLink='/reservation'><i class="fa fa-heart"></i></a>
  <a routerLink='/online'><i class="fa fa-motorcycle"></i></a> 
  <a routerLink='/gallery'><i class="fa fa-camera"></i></a> 
   <a routerLink='/feedback'><i class="fa fa-comments"></i></a> 
   <a routerLink='/about'><i class="fa fa-font"></i></a> 
</div>

   
    
    <div class="footer">
        <div class="icon-bar1">
          
            <a routerLink='/'><i class="fa fa-facebook"></i></a> 
            <a routerLink='/'><i class="fa fa-instagram"></i></a> 
            <a routerLink='/'><i class="fa fa-twitter"></i></a>
            <a routerLink='/'><i class="fa fa-linkedin"></i></a>
            <a routerLink='/'><i class="fa fa-phone"></i></a>
          </div>
    </div>