<div >
        <div >
<a routerLink='/book'><img src="../../assets/b10.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
<a routerLink='/book'><img src="../../assets/b11.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
<a routerLink='/book'><img src="../../assets/b12.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
</div>

<div >
        <a routerLink='/book'><img src="../../assets/b7.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
        <a routerLink='/book'><img src="../../assets/b8.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
        <a routerLink='/book'><img src="../../assets/b9.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
     
      </div>    
      
      <div >
            <a routerLink='/book'><img src="../../assets/b4.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
            <a routerLink='/book'><img src="../../assets/b5.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
            <a routerLink='/book'><img src="../../assets/b6.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
         
          </div> 

          <div >
                <a routerLink='/book'><img src="../../assets/b1.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
                <a routerLink='/book'><img src="../../assets/b2.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
                <a routerLink='/book'><img src="../../assets/b3.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
             
              </div> 
</div>