<h1 style="text-align: center;color:red;font-family:comic sans ms;font-weight:bold;"> ABOUT US</h1>
<br>
<br>
<p>
        A pioneer in the online cake shop model with associated home delivery services in Chennai, we cater for all occasions and events like weddings, birthday parties, engagement parties, and anniversaries. Cake Square Chennai brings a rich culinary experience to the subtle art of baking and cake making. Using traditional techniques and the best ingredients, we offer cakes in a delicious variety of flavours. Exceptional customer service complements our baking excellence and we go the extra mile in undertaking 'midnight cake delivery' and 'doorstep delivery' for your special occasion  
</p>
<br>
<p>
        Our specialty is in the area of customized theme cakes and themed cupcakes. Our other offerings include 5 tier wedding cakes, photo cakes, American cakes, black forest cakes, vegetarian cakes, designer wedding cakes, kids cakes and more! Feel free to browse and order online via our online cake website, or just walk into our bakery shop branches in P.H. Road, St Thomas Mount, Madanandapuram, T Nagar, Mugalivakkam, RK Salai, Chromepet and Anna Nagar in Chennai, anytime and carry home 'sweet memories' of a lifetime!
</p>
<br>
<br>
<br>
<br>
<div>
    <p style="text-align: center;color:green">Website:<a routerLink='/' style="color:red;">www.cakecbe12345.com</a></p>
    <p style="text-align: center;color:green">Mail ID:<a routerLink='/' style="color:red;">cakecube12345@gmail.com</a></p>
    <p style="text-align: center;color:green">Contact:<a routerLink='/' style="color:red;"> 9876543210</a></p>
</div>