.ki
{
    border-left: 0ch;
    border-top: 0ch;
    border-right: 0ch;
    border-bottom: 0ch;
    margin-left: 500px;
    margin-top: 30px;
    margin-right:600px;
    padding-top:50px;
    padding-bottom: 100px;
    border-radius: 50px;
    background-image: url(../../assets/aaa.jpg);
}
.j
{
    padding-left: 140px;
    padding-top: 50px;
}
.hi
{
    padding-left: 140px;
    padding-top: 50px; 
    
}