
<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}


.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<div>
<h2 style="color:hotpink;font-family:comic sans ms;">EXCITING MENUS</h2>
<p style="color:maroon">Click on the navigation to view the menus</p>
</div>

<div class="pagination">

  <a href="../../assets/8349e7e58648bd46de92934201401324.jpg">1</a>
  <a  href="../../assets/dessert-menu-card-50-design-template-815b6fec6a4e78fc76a833faf439dd99_screen.jpg">2</a>
  <a href="../../assets/ds.jpg">3</a>
  <a href="../../assets/ss.jpg">4</a>

</div>
<div class="row">
    <div class="column">
      <img src="../../assets/wed.jpg" alt="wedding cakes" style="width:400px;height:350px; padding-left: 30px;">
    <figcaption style="padding-left:30px;color: red;font-weight: bold;">Wedding cakes</figcaption>
    </div>
    <div class="column">
      <img src="../../assets/bir.jpg" alt="birthday" style="width:400px;height:350px;padding-left: 50px;">
      <figcaption style="padding-left:50px;color: red;font-weight: bold;">Birthday cakes</figcaption>
    </div>
    <div class="column">
      <img src="../../assets/cor.jpg" alt="corporate" style="width:400px;height:350px;padding-left: 50px;">
      <figcaption style="padding-left:50px;color: red;font-weight: bold;">Corporate cakes</figcaption>
    </div>
    <div class="column">
        <img src="../../assets/per.jpg" alt="personalised" style="width:400px;height:350px;padding-left: 50px;">
        <figcaption style="padding-left:50px;color: red;font-weight: bold;">Personalized cakes</figcaption>
      </div>
  </div>
  

