<div >
        <div >
<a routerLink='/book'><img src="../../assets/c10.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
<a routerLink='/book'><img src="../../assets/c11.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
<a routerLink='/book'><img src="../../assets/c12.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
</div>

<div >
        <a routerLink='/book'><img src="../../assets/c7.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
        <a routerLink='/book'><img src="../../assets/c8.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
        <a routerLink='/book'><img src="../../assets/c9.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
     
      </div>    
      
      <div >
            <a routerLink='/book'><img src="../../assets/c4.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
            <a routerLink='/book'><img src="../../assets/c5.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
            <a routerLink='/book'><img src="../../assets/c6.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
         
          </div> 

          <div >
                <a routerLink='/book'><img src="../../assets/c1.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
                <a routerLink='/book'><img src="../../assets/c2.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
                <a routerLink='/book'><img src="../../assets/c3.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
             
              </div> 
</div>
