<p style="text-align: center;color: hotpink;font-family: comic sans ms;font-weight: bold;font-size: 30px;padding-top: 30px;">Life is a cake and love is the icing on top of it. Without love, it becomes difficult to swallow life</p>
 
 <p style="padding-top: 30px;"><img src="../../assets/ca5e62714523ab43c3816ae388574a8f.jpg" alt="cake" >
   Help celebrate a special day or commemorate a significant occasion with a sweet treat from The Cake Shop Bakery. Whether you are searching for a special birthday cake, or simply looking for a sweet ending to an everyday meal, The Cake Shop is sure to have something freshly baked to suit your mood. We are proud to offer a wide variety of freshly baked goods daily, including gourmet cookies, fresh apple cake, cheesecake slices, chocolate eclairs, strawberry torte, pound cake, lemon bars, decadent brownies, shortbread, and over 20 flavors of cupcakes that no one can resist.

</p>
<p style="padding-top: 30px;">
   Our customer base includes domestic retailers such as Safeway, Ranch 99 and Marina Foods. In addition, we work closely with Japanese based Supermarkets such as Mitsuwa, Ichiban Kan, Marukai and Suruki. Lastly, we are proud of our 4 conveniently located retail stores across the bay area which we feel is the closest way to connect to our loyal and local customers. Please refer to the WHERE TO BUY section of our website on where you can find our delicious products.
    

</p>
 