<div >
        <div >
<a routerLink='/book'><img src="../../assets/p10.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
<a routerLink='/book'><img src="../../assets/p11.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
<a routerLink='/book'><img src="../../assets/p12.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
</div>

<div >
        <a routerLink='/book'><img src="../../assets/p7.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
        <a routerLink='/book'><img src="../../assets/p8.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
        <a routerLink='/book'><img src="../../assets/p9.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
     
      </div>    
      
      <div >
            <a routerLink='/book'><img src="../../assets/p4.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
            <a routerLink='/book'><img src="../../assets/p5.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
            <a routerLink='/book'><img src="../../assets/p6.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
         
          </div> 

          <div >
                <a routerLink='/book'><img src="../../assets/p1.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
                <a routerLink='/book'><img src="../../assets/p2.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a>
                <a routerLink='/book'><img src="../../assets/p3.jpg" style="height: 400px;width:400px;margin-left: 100px;margin-top: 100px;"></a> 
             
              </div> 
</div>

